.div1 {
  grid-area: 1 / 1 / 2 / 6;
  background-color:rgb(219, 226, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  height: 125px;
  padding-bottom: 10px;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .login-form-container {
    width: 500px;
    padding: 80px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-color: #6cbcfd;
    margin-top: -300px;
  }
  
  .login-title {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .login-form {
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
  }
  .App-logo {
    width: 200px; /* Define um tamanho fixo menor */
    height: auto; /* Mantém a proporção */
    max-width: 100%; /* Garante que não ultrapasse o contêiner */
  }
  
  .subtitle {
    font-size: 15px;
    padding-bottom: 25px;
  }