.login-content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .login-form-container {
    width: 100%;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  .login-title {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .login-form {
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
  }
  .App-logo {
    width: 200px; /* Define um tamanho fixo menor */
    height: auto; /* Mantém a proporção */
    max-width: 100%; /* Garante que não ultrapasse o contêiner */
  }
  
  .subtitle {
    font-size: 15px;
    padding-bottom: 25px;
  }

  .forgot-password {
    padding-bottom: .5rem;
  }
