.input-wrapper {
    padding-left: 1rem;
    border-radius: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-input {
    background-color: transparent;
    border: none;
    height: 100px;
    width: 100%;
    margin-left: 5px;
    padding: 1rem;
}

input:focus {
    outline: none;
}

#search-icon {
    color: #1395c0;
}

.search-bar-container {
   
    top: 200px;
    font-size: 25px;
}

@media (max-width: 600px) {
    
}